INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
omf.make
stamp-h1
xmldocs.make
.deps
.libs
twitter-glib.pc
twitter-glib-1.0.pc
*.lo
*.la
*.o
*.json
test-status-send
test-user-timeline
stamp-*.h
twitter-marshal.[ch]
twitter-enum-types.[ch]
twitter-version.h
tweet
